<html>
<head>
	<title>como soy</title>
</head>
<body backcolor="black">
  <center><font face="Kristen ITC" size="4" color="aqua">
<h1>1.-Me gusta los videojuegos en especial los shooter, y los live action.</h1>
<h1>2.-Me gusta escuchar musica, jazz, pop, indie, rock, rock alternative, heavy metal.</h1>
<h1>3.-Soy una persona un aveces un poco molesta, otras veces seria.</h1>
<h1>4.-Me gusta caminar, escribir</h1>
<h1>5.-Soy bueno dibujando </h1>

</font>

</center>
</body>

<img src="01.jpg"></div>
<img src="02.jpg"></div>
<img src="03.jpg"></div>
<img src="04.png"></div>
<img src="05.jpg"></div>

</html>

